apiVersion: v1
kind: Service
metadata:
  name: tasks-db
  namespace: event-management
spec:
  type: ClusterIP
  ports:
    - port: 5432
      targetPort: 5432
      protocol: TCP
      name: postgres
  selector:
    app: tasks-db
---
apiVersion: v1
kind: Service
metadata:
  name: tasks-service
  namespace: event-management
spec:
  type: ClusterIP
  ports:
    - port: 8004
      targetPort: 8004
      protocol: TCP
      name: http
    - port: 50051
      targetPort: 50051
      protocol: TCP
      name: grpc
  selector:
    app: tasks-service
