apiVersion: v1
kind: Service
metadata:
  name: auth-db
  namespace: event-management
spec:
  type: ClusterIP
  ports:
    - port: 5432
      targetPort: 5432
      protocol: TCP
      name: postgres
  selector:
    app: auth-db
---
apiVersion: v1
kind: Service
metadata:
  name: auth-service
  namespace: event-management
spec:
  type: ClusterIP
  ports:
    - port: 8001
      targetPort: 8001
      protocol: TCP
      name: http
  selector:
    app: auth-service
